/* Estilo para o corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: gray;
}

h2{
  color: black;
  text-align: center;
}

#p1{
 color: black;
}



div{
  padding: 15px;  
}

#div1{
  border-radius: 50px;
  border: white 4px solid;
}

input{
  background: linear-gradient(to bottom, gray 0%, black 30%, gray 70%, black 100%); 
  color: white;
}

button{
  background: linear-gradient(to bottom, gray 0%, black 30%, gray 70%, black 100%); 
    color: white;
}



  

  